<div class="jumbotron">
    <div class="container">
        <h1>Welcome to boardgamer!</h1>
        <p>This is website for board games fans</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Game Categories</h2>
            <p>Filter games by many specific categories</p>
        </div>
        <div class="col-md-4">
            <h2>Manage your collection</h2>
            <p>Add games to your collection and count plays</p>
        </div>
        <div class="col-md-4">
            <h2>Reviews</h2>
            <p>Write and read game reviews</p>
        </div>
    </div>
</div>